<!-- Gallery Container -->
<div class="grid gap-4 md:grid-cols-3">
  <!-- Img 1 -->
  <div class="relative group">
    <img src="/images/image1.jpg" alt="" class="w-72" />
    <div
      class="absolute bottom-0 left-0 right-0 p-2 px-4 text-white duration-500 bg-black opacity-0 group-hover:opacity-100 bg-opacity-40"
    >
      <div class="flex justify-between w-full">
        <div class="font-normal">
          <p class="text-sm">Abstract Painting</p>
          <p class="text-xs">245 likes - 35 Shares</p>
        </div>
        <div class="flex items-center">
          <img src="/images/bookmark.svg" alt="bookmark" />
        </div>
      </div>
    </div>
  </div>
  <!-- Img 2 -->
  <div class="relative group">
    <img src="/images/image2.jpg" alt="" class="w-72" />
    <div
      class="absolute bottom-0 left-0 right-0 p-2 px-4 text-white duration-500 bg-black opacity-0 group-hover:opacity-100 bg-opacity-40"
    >
      <div class="flex justify-between w-full">
        <div class="font-normal">
          <p class="text-sm">Abstract Painting</p>
          <p class="text-xs">245 likes - 35 Shares</p>
        </div>
        <div class="flex items-center">
          <img src="/images/bookmark.svg" alt="bookmark" />
        </div>
      </div>
    </div>
  </div>
  <!-- Img 3 -->
  <div class="relative group">
    <img src="/images/image3.jpg" alt="" class="w-72" />
    <div
      class="absolute bottom-0 left-0 right-0 p-2 px-4 text-white duration-500 bg-black opacity-0 group-hover:opacity-100 bg-opacity-40"
    >
      <div class="flex justify-between w-full">
        <div class="font-normal">
          <p class="text-sm">Abstract Painting</p>
          <p class="text-xs">245 likes - 35 Shares</p>
        </div>
        <div class="flex items-center">
          <img src="/images/bookmark.svg" alt="bookmark" />
        </div>
      </div>
    </div>
  </div>
  <!-- Img 4 -->
  <div class="relative group">
    <img src="/images/image4.jpg" alt="" class="w-72" />
    <div
      class="absolute bottom-0 left-0 right-0 p-2 px-4 text-white duration-500 bg-black opacity-0 group-hover:opacity-100 bg-opacity-40"
    >
      <div class="flex justify-between w-full">
        <div class="font-normal">
          <p class="text-sm">Abstract Painting</p>
          <p class="text-xs">245 likes - 35 Shares</p>
        </div>
        <div class="flex items-center">
          <img src="/images/bookmark.svg" alt="bookmark" />
        </div>
      </div>
    </div>
  </div>
  <!-- Img 5 -->
  <div class="relative group">
    <img src="/images/image5.jpg" alt="" class="w-72" />
    <div
      class="absolute bottom-0 left-0 right-0 p-2 px-4 text-white duration-500 bg-black opacity-0 group-hover:opacity-100 bg-opacity-40"
    >
      <div class="flex justify-between w-full">
        <div class="font-normal">
          <p class="text-sm">Abstract Painting</p>
          <p class="text-xs">245 likes - 35 Shares</p>
        </div>
        <div class="flex items-center">
          <img src="/images/bookmark.svg" alt="bookmark" />
        </div>
      </div>
    </div>
  </div>
  <!-- Img 6 -->
  <div class="relative group">
    <img src="/images/image6.jpg" alt="" class="w-72" />
    <div
      class="absolute bottom-0 left-0 right-0 p-2 px-4 text-white duration-500 bg-black opacity-0 group-hover:opacity-100 bg-opacity-40"
    >
      <div class="flex justify-between w-full">
        <div class="font-normal">
          <p class="text-sm">Abstract Painting</p>
          <p class="text-xs">245 likes - 35 Shares</p>
        </div>
        <div class="flex items-center">
          <img src="/images/bookmark.svg" alt="bookmark" />
        </div>
      </div>
    </div>
  </div>
</div>
